.contentAllClass {
    padding-top: 50px;
}

.contentAllClass .allClass {
    width: 80%;
    margin: auto;
}

.contentAllClass .allClass .className {
    font-size: 25px;
    font-weight: 600;
}

.contentAllClass .allClass .allClassBlock {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.contentAllClass .allClass .allClassBlock .class {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contentAllClass .allClass .allClassBlock .class img{
    width: 100%;
    object-fit: contain;
}

.contentAllClass .allClass .allClassBlock .class p {
    width: 100%;
    font-size: 20px;
    margin-bottom: 25px;
}