.Deks{
    width: 80%;
    margin: 0 auto;
    padding: 50px 15px;
}

.info{
    border-bottom: solid 1px #D3D3D3;
    padding: 16px;
    margin-bottom: 45px;
}

.module_info{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.module_info a {
    width: 100%;
}

.module_info a .card_module{
    width: 100%;
    padding: 37px 20px;
    border: 3px solid #000;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 0px #000;
}

.module_info a .card_module p {
    font-size: 25px;
    font-weight: 600;
}

.AddContainers {
    display: flex;
    flex-direction: column;
}

.AddBlock{
    margin-top: 20px;
    text-align: center;
    font-size: 64px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border: 0px;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
}

.AddBlock:hover{
    background-color: rgb(85, 85, 85);
    color: white;
}